<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Adam Sunshine", '#', id: "logo" %>
        <h2 class= "navbar-text">Software Developer | Boulder, CO</h2>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '/' %></li>
            <li><%= link_to "About", '/about' %></li>
            <li><%= link_to "Experience",   '/experience' %></li>
            <li><%=link_to "Projects", '/side_projects' %></li>
            <li><%= link_to "Contact", '/contact' %></li>
          </ul>
        </nav>
      </div>
    </header>